[Unit]
Description=Check NanoLeaf server gateway connectivity

[Timer]
OnBootSec=5min
OnUnitActiveSec=2min
RandomizedDelaySec=15s
AccuracySec=15s
Unit=nanoleaf-network-recovery.service

[Install]
WantedBy=timers.target
